# Streamlit secrets file
.streamlit/secrets.toml

# Environment variables
.env

# Python virtual environment
venv/
env/
*.pyc

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db